@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #2f243a;
    --primary-hover: #1f1629;
    --secondary: #f9ddbd;
    --accent: #db8a74;
    --accent-hover: #c37964;
    --background: #c8b8d9;
    --card-red: #f8beaa;
    --card-blue:#d7bff3;
    --card-pink:#f1b6a6;
    --muted: #6a707c;
    --success: #D8F3DC;
    --warning: #f7e9c4;

  }
  
  .bg-grad {
    @apply p-6;
    background: linear-gradient(225deg, rgb(247, 247, 247) 0%, hsla(0, 0%, 95%, 1) 100%);
  }
  
.section{
    padding: 0 24px;
    border-radius: 25px;
}


